@define-color accent_bg_color @purple_3;
@define-color accent_color @purple_5;

/* Pathbar button styles */

#PathbarButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0;
  transition: 0.3s;
}

#PathbarButton:hover {
  color: @accent_color;
  box-shadow: none;
  transition-property: none;
  border-top: none;
  box-shadow: 0px -2px 0px alpha(currentColor,0.5) inset;
  transition: box-shadow 0.3s;
  border-radius: 0px;
  background: transparent;
}

.PathbarButtonActive {
  box-shadow: none;
  transition-property: none;
  border-top: none;
  box-shadow: 0px -2px 0px @accent_bg_color inset;
  border-radius: 0px;
  background: transparent;
}

/* Entry and group browser page styles */

#BrowserListBox:not(.small) {
  margin: 36px 0 36px 0;
}

#BrowserListBox.small {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Entry color button styles */

.NoneColorButton {
  background: @light_4;
}

.BlueColorButton {
  background: @blue_4;
}

.GreenColorButton {
  background: @green_4;
}

.YellowColorButton {
  background-color: @yellow_4;
}

.OrangeColorButton {
  background: @orange_4;
}

.RedColorButton {
  background: @red_4;
}

.PurpleColorButton {
  background: @purple_4;
}

.BrownColorButton {
  background: @brown_4;
}

.ColorButton {
    border-radius: 25px;
}

.ColorButton:hover {
  opacity: 0.5;
}

.BrightIcon {
  color: white;
}

.DarkIcon {
  color: black;
}

.circular-icon {
  border-radius: 32px;
}

/* Entry icon styles */

.EntryIconFlowBox > flowboxchild {
  border-radius: 8px;
}

/* Password strength level bar styles */

levelbar block.insecure, levelbar block.low, levelbar block.high, levelbar block.full {
  background-color: @red_2;
}

levelbar block.weak {
  background-color: @orange_2;
}

levelbar block.medium {
  background-color: @yellow_2;
}

levelbar block.strong {
  background-color: @green_2;
}

levelbar block.secure {
  background-color: @green_4;
}

textview {
  padding: 12px;
}

/* This is needed to make the corners of the notes field rounded. */
textview.codeview {
  border: 1px solid @borders;
  border-radius: 8px;
}

.italic-subtitle label.subtitle, .italic-title label.title {
  font-style: italic;
}

.strikethrough label.subtitle, .strikethrough label.title {
  text-decoration: line-through;
}

.otp-action-row label.title {
  font-size: 24px;
}

.notification {
    margin-top: 18px;
    border-radius: 90px;
}
